
<div class="row-fluid db_active_row activity">
  <div class="span1 hidden-phone hidden-tablet">
       <img src="{{icon_path}}" alt="" class="hidden-phone" style="width:69px; height:71px;">
  </div>
  <div class="span2 db_active_text">{{date}}</div>
  <div class="span2 db_active_text">{{action}}</div>
  <div class="span5 db_active_text">{{description}}</div>
  <div class="span2 db_active_text">{{kudos_points}}</div>
</div>