<div class="span1 span1-custom-width" style="">
  <div class="db_icons">
    <img src="assets/friends/friends_request.png" alt="icon_assistant image"/>
  </div>
</div>
<div class="span2 span1-custom-width" style="">
  <%= submit_tag t('dashboard.accept'), :class => 'btn btn-info bd-delete-btn sg_accept right-margin jQueryAccept' %>
  <%= custom_friend_request_submit_tag %>
</div>

<div class="span3 div-friend-request-details">
  <%= render :partial => 'friend_request_details' %>
</div>

<div class="span6 jQueryFriendsRequestCarousel">
  <%= render :partial => 'slider', :locals => {:friends => @users, :slider => "slider2" } %>
</div>



 