config/configatron/development.rb
ruby-debug-base19-0.11.25/
vendor/ruby/
vendor/bundle/
.bundle
*.*~
db/*.sqlite3
log/*.log
log/*.pid
tmp/**/*
.idea/*
.DS_Store
config/database.yml
config/paypal_adaptive.yml
config/development.sphinx.conf
config/cucumber.yml
db/sphinx
public/system/*
db/backup/*
nbproject
public/.htaccess
vendor/infinite_buyer_related/*
tmp/*
public/assets
ERD.*
nbproject
config/database.yml
app/controllers/misc_controller.rb
app/views/misc
config/sphinx.yml
public/uploads/photo
public/uploads/tmp
snap gadget
.gitignore~
Gemfile~
*.js~
*.html~
*.html.erb~
*.yml~
Capfile~
.~*
.rvmrc


