<div class="row-fluid">
  <div class="span9">
  <div class="float_r">
    <div class="span3">
      <a href="<%= cancel_url %>" class="btn btn-info mLeft30"><%= t :cancel%></a>
    </div>
  </div>
  <div class="float_r">
    <div class="span3">
      <input class="btn btn-info" name="commit" style="width:87px;" type="submit" value="<%= t(:save)%>" />
    </div>
  </div>
  <div class="clear"></div>
</div>
  <div class="span3"></div>
</div>