          <!--head section starts -->
        <div class="container-fluid sidekick_drill_head">
            <div class="row-fluid">
                <div class="span3">
                    <div class="sd_images">
                        <img src="assets/photo1.png" alt="Snapgadget" >
                    </div>
                    <div class="sd_images">
                        <img src="assets/map_sidekick.png" alt="Snapgadget" >
                    </div>
                </div>
                <div class="span3 address">
                    <div class="insider_title sidekick_drill_title"> Amu Restaurant</div>
                    <div class="text">1221 Spruce St, </div>
                    <div class="text">Boulder, CO 80302</div>
                    <div class="text">(303) 440-0807 </div>
                    <div class="share_img">
                        <img src="assets/share_btn.png" alt="share_btn image" >
                    </div>
                </div>
                <div class="span2 address ">
                    <div class="insider_title sidekick_drill_title">Reviewes</div>
                    <div class="row-fluid" >
                        <div class="sidekick_drill_progress_bar">
                            <div class=" progress freind_progress progress-info isdd_progress_bar">
                                <div class="bar " style="width: 60%" ></div>
                            </div>
                        </div>
                        <div class="sidekick_drill_progress_bar_text">
                            <div class="issd_progress_text">Friends</div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-bottom: 28px;">
                        <div class="sidekick_drill_progress_bar">
                            <div class=" progress freind_progress progress-success isdd_progress_bar">
                                <div class="bar " style="width: 60%" ></div>
                            </div>
                        </div>
                        <div class="sidekick_drill_progress_bar_text">
                            <div class="issd_progress_text">Snapgadget</div>
                        </div>
                    </div>
                </div>
                <div class="span2 address">
                    <div class="insider_title sidekick_drill_title">Popular?</div>
                    <div class="row-fluid" style="margin-bottom: 12px;">
                        <div class="sidekick_drill_progress_bar">
                            <div class="isdd_pinboard">
                                <div class="db_location_score">12 </div>
                            </div>
                        </div>
                        <div class="sidekick_drill_progress_bar_text">
                            <div class="isdd_heart">
                                <div class="db_location_score db_sgheart_score">5 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span2" >
                    <a class="btn btn-info isd_review_btn" >Review It</a>
                     <a class="btn btn-info isd_review_btn" >Book It</a>
                </div>
            </div>
        </div>  <!--head section end -->


           <div class="container-fluid">
            <div class="row-fluid box">
                <div class="span4">
                    <div class="sidekick_drill_div">
                    <div class="insider_title sidekick_drill_div_title"> Friends Reviews </div>
                    <hr>
                    <div style="margin-bottom: 50px;">
                        <b class="bold_text"> Kelly O. </b> I real like  the water slides at the pool, and they have great child sitting when i want to work out.
                        <div class="sidekick_drill_plus_btn">
                            <img src="assets/plus_icon.png" alt="plus_icon image" >
                        </div>
                    </div>
                    <hr>
                    <div style="margin-bottom: 50px;">
                        <b class="bold_text">  John S.</b> Their 6 week boot camp is intense.
                        <div class="sidekick_drill_plus_btn">
                            <img src="assets/plus_icon.png" alt="plus_icon image" >
                        </div>
                    </div>
                    <div class="read_more_btn">
                        <a class="btn btn-info prfer_change_btn" >Read More</a>
                    </div>
                </div>
                    </div>
                <div class="span4">
                     <div class="sidekick_drill_div">
                    <div class="insider_title sidekick_drill_div_title">Snapgadget Reviews</div>
                    <hr>
                    <div style="margin-bottom: 50px;">
                        <b class="bold_text"> Fred K.  </b> Large free weight area, lap lanes, no Sauna, busy at lunch.
                    </div>
                    <hr>
                    <div style="margin-bottom: 50px;">
                        <b class="bold_text">   Dave T.</b>  Their 6 week boot camp is intense.
                    </div>
                     </div>
                </div>
                <div class="span4 ">
                     <div class="sidekick_drill_div border_none">
                    <div class="insider_title sidekick_drill_div_title">Other Reviews </div>
                    <hr>
                    <div> <b class="bold_text">Yelp: 19 Reviews</b> </div>
                    <div style="margin-bottom: 50px;">
                        "Fantastic rec center! The prices are great, the facilities are clean and the pool is awesome.Especially the pool.
                    </div>
                    <hr>
                     <div> <b class="bold_text">Trip Advisor: 9 Reviews</b> </div>
                    <div style="margin-bottom: 50px;">
                      "For the price you cant beat it
                    </div>
                </div>
                </div>
            </div>
        </div>
