<div class="container assistant_sbs_details advantages hide">
  <div class="heading-font bold_text_general">Assistant</div>
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Assistant Page</p>
  <p class="">Assistant is where you can create and track your own goals as well as your friends</p>
  <p></p>
  <img title="assistant" style="" src="/assets/help_center/hc10.png" alt="" />
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Assistant Goal Creation</p>
  <p class="">You can create and track your own goals from this page</p>
  <p></p>
  <img title="assistantnewgoal" style="" src="/assets/help_center/hc11.png" alt="" />
  <ul>
    <li>Select a goal description</li>
    <li>Select your goal type from one of the eight choices</li>
    <li>Select the date you want to start your goal</li>
    <li>Select the date you expect to end your goal</li>
  </ul>
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Assistant Share a goal</p>
  <p class="">Share a goal with a friend &ndash; Just create a comment and decide who you want to share the goal with.</p>
  <p></p>
  <img title="assistant" style="" src="/assets/help_center/hc12.png" alt="" />
</div>