<p style="color: #999999;margin-bottom: 0px; text-align: center">Thanks for checking out SnapGadget. Get ready for Social On Your Side!</p>
<p style="margin-top: 17px;text-align: center"><%= link_to 'Back', launch_url, :class => "btn btn-primary", :style => 'width:100px' %></p>