<div class="container insider_sbs_details advantages hide">
  <div class="heading-font bold_text_general">Insider</div>
  <p></p>
  <hr />
  <p></p>
  <p class="bold_text_general" style="">Insider Page</p>
  <p class="">This acts as your display page for Personalized Offers and Activities as well as Trending Deals  and Shared (friends) offers and activities.</p>
  <ul>
    <li>Insider will tirelessly comb the Internet and bring back all deals, activities, etc. that match your Insider Preferences.</li>
    <li>You can share an offer with your friends and see how many of your friends are already tracking this.</li>
    <li>If you like the deal, click the 'Snap It Up' button &ndash; This will take you to the actual deal site to complete the deal. (Note: You may need to sign up or in to the actual deal site)</li>
    <li>'Preferred Deals' come from actual merchants you defined on Sidekick</li>
  </ul>
  <p></p>
  <img alt="" src="/assets/help_center/hc13.png" style="" title="insider" />
  <p></p>
  <hr />
  <p></p>
  <p class="bold_text_general" style="">Insider Page - Show Me More deals</p>
  <p></p>
  <p class="">This searches for more details based on your choice of categories. You can select to see only local deals as well</p>
  <img alt="" src="/assets/help_center/hc14.png" style="" title="searchdeals" />
  <p></p>
  <hr />
  <p></p>
  <p class="bold_text_general" style="">Insider Page - Share a deal</p>
  <p></p>
  <p class="">Share a deal with a friend - Just create a comment and decide who you want to share the goal with.</p>
  <img alt="" src="/assets/help_center/hc15.png" style="" title="Sharedeals" />
  <p></p>
  <hr />
  <p></p>
  <p class="bold_text_general" style="">Insider Page - Make A Suggestion</p>
  <p></p>
  <p class="">Help us build our suggestion warehouse by clicking on 'make a suggestion'.</p>
  <img alt="" src="/assets/help_center/hc16.png" style="" title="clicksuggestion" />
  <p></p>
  <p class="">Post a picture, add a web link, etc. - this is the screen where you enter suggestions for others.</p>
  <img alt="" src="/assets/help_center/hc17.png" style="" title="makesuggestion" />


</div>