<div class="container my_account_details advantages hide">
  <div class="heading-font bold_text_general">My Account</div>
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Log In</p>
  <p class="">To log in to SnapGadget you must have a valid username and password. To log into the system:</p>

  <p class="">1.	Enter the URL https://www.snapgadget.com and click on the login button</p>
  <p class="">2.	Enter your login details.</p>
  <ul>
    <li>You can login using your existing social media credentials or</li>
    <li>You can enter the email and password</li>
    <ul>
      <li>Remember me will retain your email address for subsequent visits</li>
    </ul>
  </ul>
  <p></p>
  <p class="">3.	Click Login</p>
  <img title="login" style="" src="/assets/help_center/hc01.png" alt="" />
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Log out</p>
  <p class="">To log out of SnapGadget click the Sign Out option located under your name dropdown</p>
  <img title="logout" src="/assets/help_center/hc02.png" alt="" />
  <p></p>
  <p></p>
  <hr/>
  <p></p>
  <p style="" class="bold_text_general">Update Your Profile:</p>
  <p class="">To update your profile:</p>

  <p class="">1.	Log into your account</p>
  <p class="">2.	Click on Profile under your name dropdown</p>
  <img title="profileselect" style="" src="/assets/help_center/hc03.png" alt="" />
  <p></p>
  <p class="">3.	Profile - this contains your profile settings</p>
  <img title="profile" style="" src="/assets/help_center/hc05.png" alt="" />
  <p></p>
  <p></p>
  <ul>
    <li>Email - Your email address in the system</li>
    <li>Password - You may change your password by clicking the ?change Password? button.  This will prompt you to enter and reenter a new password </li>
    <li>Language - Select the language you want to see the site in.</li>
    <li>First Name - Your first name.</li>
    <li>Last Name - Your last name.</li>
    <li>Location - Your default location. This is used by sidekick and Insider</li>
    <li>Profile Image - You can upload an image</li>
    <li>SnapGadget Team - Allows you to customize the avatars that appear on the toolbar</li>
    <p></p>
    <ul>
      <li>For each of your advisors, you can use the default advisor or personalize your advisor based on (i) Gender, (ii) Skin Color and (iii) Hair Color. </li>
      <img title="avatars" style="" src="/assets/help_center/hc06.png" alt=""/>
    </ul>
    <li class="helpcenter-list-padding">Insider Preferences - Configure Your Insider Preferences will allow Insider to determine (i) type of offers that you will receive (ii) activities that will be recommended to you (iii) And For Fun, an offer (or an activity) that you deserve!  </li>
    <img title="prefs" style="" src="/assets/help_center/hc07.png" alt="" />
    <p></p>
    <ul>
      <li>Insider will present choices to you in three areas</li>
      <ul>
        <li>Offers I want</li>
        <li>Activities I like</li>
        <li>I Deserve This</li>
      </ul>
      <p></p>
      <li>You can select from 5 Major preferences, representing over 50 interest categories for each of the three insider choices.</li>
      <p></p>
      <li>Just drag and drop your selection into the boxes</li>
    </ul>
  </ul>
  <p></p>
  <hr />
  <p></p>

  <p style="" class="bold_text_general">Dashboard:</p>
  <p class="">To see your profile:</p>

  <p class="">1.	Log into your account</p>
  <p class="">2.	Click on My Dashboard under your name dropdown</p>
  <img title="dashboardselect" style="" src="/assets/help_center/hc08.png" alt="" />
  <p></p>
  <p class="">3.	My Dashboard - this contains your profile settings</p>
  <img title="profile" style="" src="/assets/help_center/hc09.png" alt="" />
  <p></p>
  <img title="profile" style="" src="/assets/help_center/hc09a.png" alt="" />
  <ul>
    <li>Photo &ndash; If you uploaded a photo, it will appear here</li>
    <li>Membership &ndash; Your current membership status is displayed</li>
    <li>Influence Meter &ndash; How influential you are on the site by creating reviews</li>
    <li>Kudos &ndash;  Receive points for activity on the site</li>
    <li>Notifications &ndash; Notifies you of 'new shares' from friends (i.e. Lists/offers/goals)</li>
  </ul>
  <p></p>
  <p></p>
  <img title="profile" style="" src="/assets/help_center/hc09b.png" alt="" />
  <ul>
    <li>Friends - Your current Friends, you can add new friends or delete old ones</li>
    <li>Friend Requests - People who want to be your friend, you can accept or decline</li>
  </ul>
  <p></p>
  <p></p>
  <img title="profile" style="" src="/assets/help_center/hc09c.png" alt="" />
  <ul>
    <li>Activities - This is the area where you see all of your activities on the site with the corresponding Kudos Points </li>
  </ul>
  <hr/>
  <p style="" class="bold_text_general">Spread The Word:</p>
  <p class="">To spread the Word:</p>

  <p class="">1.	Log into your account</p>
  <p class="">2.	Click on Spread The Word under your name dropdown</p>
  <img title="spreadwordselect" style="" src="/assets/help_center/hc09d.png" alt="" />
  <p class="">3.	You will receive Kudos Points for helping us build our community </p>

</div>