<div class="container sidekick_sbs_details advantages hide">
  <div class="heading-font bold_text_general">Sidekick</div>
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Sidekick Page</p>
  <p class="">Sidekick is where you can create and share 'personalized' and 'recommended' LISTS utilizing 5 categories.</p>
  <p></p>
  <img title="sidekick" style="" src="/assets/help_center/hc18.png" alt="" />
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Location List Creation</p>
  <p class="">You can create lists directly from sidekick by adding locations to a list or by clicking on the create/Manage lists button</p>
  <p></p>
  <img title="sidekicknewlist" style="" src="/assets/help_center/hc19.png" alt="" />
  <p></p>
  <hr/>
  <p style="" class="bold_text_general">Manage Location Lists</p>
  <p class="">You can manage your lists from this screen</p>
  <p></p>
  <img title="sidekickmanagelist" style="" src="/assets/help_center/hc20.png" alt="" />
  <ul>
    <li>Create a new list and add locations to it</li>
    <li>See your and your friends lists</li>
    <li>Change the locations on lists</li>
    <li>Delete Lists</li>
  </ul>
  <p></p>
  <p style="" class="bold_text_general">Adding and Reviewing A location</p>
  <p class="">When you add a location you can review it and select personal offers</p>
  <p></p>
  <img title="sidekicknewlist" style="" src="/assets/help_center/hc21.png" alt="" />
  <p class="">Complete the location details</p>
  <ul>
    <li>You can add a phone number for the location</li>
    <li>You can categorize the location type</li>
  </ul>
  <p class="">Complete the review details</p>
  <ul>
    <li>Enter Your Review Details</li>
    <li>Enter your quick rating</li>
    <li>If you want to receive offers from this location (if available) then click the check box</li>
    <li>Upload a picture if you want</li>
  </ul>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Sidekick Hiding Locations on the Map</p>
  <p class="">Enabling or Disabling the checkbox will hide locations from the map.</p>
  <p></p>
  <img title="assistant" style="" src="/assets/help_center/hc22.png" alt="" />
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Sidekick Location Details</p>
  <p class="">Here you can see your reviews and others for the selected location.  You get to this screen by ‘clicking’ on a color-coded pin or ‘clicking’ on the name of the location (located under the categories)</p>
  <p></p>
  <img title="assistant" style="" src="/assets/help_center/hc23.png" alt="" />
  <p></p>
  <hr />
  <p></p>
  <p style="" class="bold_text_general">Sidekick Share a List</p>
  <p class="">Share a List with a friend &ndash; Just create a comment and decide who you want to share the list with.</p>
  <p></p>
  <img title="assistant" style="" src="/assets/help_center/hc24.png" alt="" />
  <p></p>
</div>
