
  <div class="container-fluid edit_profile_title ">
    Advertise with SnapGadget
  </div>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- Contact form -->
    <div class="span9 profile_outer">
      <div class="row-fluid">
        <div class="span1 visible-desktop"></div>
        <div class="span8 well well-large">
          <div class="row-fluid">
            <div class="row-fluid">
              <div class="span3"><p>First Name</p></div>
              <div class="span9"><input class="span8" type="text" placeholder=""/></div>
            </div>
            <div class="row-fluid">
              <div class="span3"><p>Last Name</p></div>
              <div class="span9"><input class="span8" type="text" placeholder=""/></div>
            </div>
          </div>
          <div class="row-fluid" >
            <div class="span3"><p>Email</p></div>
            <div class="span9"><input class="span8" type="text" placeholder=""/></div>
          </div>
          <div><p>Message</p></div>
          <div class="row-fluid">
            <div class="span12"><textarea class="span9" rows="5" cols="" placeholder="message"></textarea>
            </div>
          </div>
          <button class="btn btn-info save_btn">Send</button>
        </div>
      </div>
      <div class="span1 visible-desktop"></div>
    </div>
  </div>
</div>

