<div class="container sg_container content_area">
  <div class="footer-content">
    <div class="heading-font bold_text_general">FAQ</div><p></p>
    <p class="bold_text_general" style>Does it cost money to use SnapGadget?</p>
    <p class="">SnapGadget is a free site to all users</p>
    <p class="bold_text_general" style>What is the minimum age required to sign up for SnapGadget?</p>
    <p class="">The minimum age is 18 years old.</p>
    <p class="bold_text_general" style>What is the response time for inquiries?</p>
    <p class="">Our current response time is usually next business day.</p>
    <p class="bold_text_general" style>How do I unsubscribe from emails?</p>
    <p class="">We are sorry to see you go. To unsubscribe, send an email to <%= link_to 'unsubscribe@snapgadget.com', 'mailto:unsubscribe@snapgadget.com' %></p>
    <p class="bold_text_general" style>How can I make a recommendation or suggestion ?</p>
    <p class="">We are glad that you are interested in doing this - Please submit your recommendation/suggestion/idea to <%= link_to 'ideas@snapgadget.com', 'mailto:ideas@snapgadget.com' %>.  Our product team regularly reviews all ideas so keep 'em coming!</p>
    <p class="bold_text_general" style>When/how does my data get updated on Snapgadget?</p>
    <p class="">We aggregate data for your account every day and update it when you login to your account.</p>
    <p class="bold_text_general" style>What is membership status on my dashboard?</p>
    <p class="">This pertains to your current membership status.  Users who signed up before 1.1.2013 are social pioneers. Users who signed up after this date will be standard members.  Going forward we will introduce more classes of membership as needs arise.</p>
    <p class="bold_text_general" style>What is the Influence meter on my dashboard ?</p>
    <p class="">Influence meter keeps track of your influence on your site.  It takes into account your activity on the site and how your activity is rated by others.</p>
    <p class="bold_text_general" style>What are Kudos Points?</p>
    <p class="">Kudos points are earned when you complete activities on the site.  There are no caps on the number of points you can earn.</p>
    <p class="bold_text_general" style>I am trying to log in and I keep getting an error message.Please help !</p>
    <p class="">Check that you are entering your correct email address and password.  You can also reset your password.  If you still have issues you can email <%= link_to 'support@snapgadget.com', 'mailto:support@snapgadget.com' %></p>
    <p class="bold_text_general" style>Is my information safe with you?</p>
    <p class="">Yes, your information is exceptionally safe.  SnapGadget uses a virtual cloud based on Amazon Web Services and are transactions are completed over encrypted SSL.</p>
    <p class="bold_text_general" style>Tell me more about Insider and the deals it recommends.</p>
    <p class="">SnapGadget recommends deals based on your preferences.  The deals are sourced from multiple sites including Groupon, Living Social and others.</p>
    <p class="bold_text_general" style="">We take those deal and match them up to your preferences, saving you the work of doing all those comparisons and checking all those emails.</p>
    <p>If you have a favorite deal site you would like to add, then email us at <%= link_to 'deals@snapgadget.com', 'mailto:deals@snapgadget.com' %>.</p>
    <p class="bold_text_general" style>Where can I find the deal I purchased?	</p>
    <p class="">Once you find a deal you like in SnapGadget then clicking on the Snap It Up button will take you to the deal website that has created it as SnapGadget does not sell the deal directly.  You may need to login to that website to take advantage of the deal.</p>
    <p class="bold_text_general" style>Is SnapGadget nationwide?</p>
    <p class="">Yes, we decided to launch nationwide and in certain parts of Canada.</p>
    <p class="bold_text_general" style>Where is Snapgadget based?</p>
    <p class="">Snapgadget is headquartered in Las Vegas.  We also have employees in other cities across the U.S.</p>
  </div>
</div>