<!-- Navbar ends -->
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <div class="help_title text_align_center"> Who We Are</div>
      <div>
        <p>
          At SnapGadget, we are truly passionate about making sense of the information overload of the internet. We have determined that there is a great need for streamlining information as well as social collaboration - a place where trusted information meets organization. We are all about creating smaller communities, where trusted reviews have relevance to you and your life. So, to get the most out of SnapGadget, please feel free to make use of our help center and be assured that we are truly on YOUR side - Social On Your Side.
        </p>
      </div>
    </div>
    <div class="span4 border_left">
      <div class="help_title text_align_center"> Step By Step</div>
      <div class="hc_image">
        <img src="/assets/help_center/hc00.png" alt="Insider" class="" />
      </div>
      <div class="row-fluid as_margin_top">
        <div class="span5">
          <ul class='account_container'>
            <li><a href="javascript:void(0);" class="help_links bold" id="my_account">My Account</a> </li>
            <li><a href="javascript:void(0);" class="help_links bold" id="sidekick_sbs">Sidekick</a></li>
            <li><a href="javascript:void(0);" class="help_links bold" id="insider_sbs">Insider</a></li>
            <li><a href="javascript:void(0);" class="help_links bold" id="assistant_sbs">Assistant</a></li>
          </ul>
        </div>
        <div class="span7">

        </div>
      </div>
    </div>
    <div class="span4 border_left">
      <div class="help_title text_align_center">Advantages</div>
      <div class="sidekick_details adv_image hc_image">
        <img src="/assets/help_center/advantages/sidekick.png" alt="Sidekick" />
      </div>
      <div class="insider_details adv_image hc_image hide">
        <img src="/assets/help_center/advantages/insider.png" alt="Insider" />
      </div>
      <div class="assistant_details adv_image hc_image hide">
        <img src="/assets/help_center/advantages/assistant.png" alt="Assistant" />
      </div>
      <div class="dashboard_details adv_image hc_image hide">
        <img src="/assets/help_center/advantages/dashboard.png" alt="Dashboard" />
      </div>
      <div class="row-fluid as_margin_top">
        <div class="span5">
          <ul class='links_container'>
            <li><a href="javascript:void(0);" id='sidekick' class="help_links redLink bold"> Sidekick</a> </li>
            <li><a href="#" id='insider' class="help_links bold"> Insider</a> </li>
            <li> <a href="#" id='assistant' class="help_links bold">Assistant </a></li>
            <li><a href="#" id='dashboard' class="help_links bold">  Dashboard</a></li>
          </ul>
        </div>
        <div class="span7">

        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="sidekick_details advantages">
    <div class="bold">Sidekick Advantages:</div>
    <div>
      <ol start="1">
        <li> SideKick allows you to create "personalized" location lists (Places that you and your trusted friends hangout, eat, shop, etc.) </li>
        <li> Sidekick acts as an "information safe-haven" of trusted reviews - No strangers Allowed!</li>
        <li>  Sidekick acts as a trip planner for friends and relatives wanting to get trusted recommendations of the best places to go in your area</li>
        <li> Sidekick acts as a weekly planner allowing you to create a list of places that you want to visit this week and then receive offers (from those preferred merchants) which will appear in Insider </li>
      </ol>
    </div>
  </div>
  <div class="assistant_details advantages hide">
    <div class="bold">Assistant Advantages:</div>
    <div>
      <ol>
        <li>Recycle the pencil and paper!!  Now you can track, monitor, and achieve your goals through SnapGadget. </li>
        <li>We have 8 categories to choose from:

          <ul type="disc">
            <li>Fitness/Health </li>
            <li>Charity </li>
            <li> Financial</li>
            <li> 	Educational</li>
            <li> Family and relationship</li>
            <li> Spirituality</li>
            <li>	Career Development </li>
            <li> Self/Personal/Intellectual Development  </li>
          </ul>
        </li>
        <li> Examples:
          <ul type="disc">
            <li>Lose 10 Pounds by my wedding  </li>
            <li>	Raise $$ for your favorite charity  </li>
            <li> 	Set school grade goals for your children</li>
            <li> 	Monitor your team's success as a Coach  </li>
            <li>Climb Mt. Everest </li>
          </ul>
        </li>
        <li> No Man or Woman is an island - Share Your goals with others  </li>
        <li> Receive Expert Advice and relevant Goals Feeds through Assistant </li>
      </ol>
    </div>
  </div>
  <div class="insider_details advantages hide">
    <div class="bold">Insider Advantages:</div>
    <div>
      <ol start="1">
        <li> 	Go to all of those other "daily deal" websites and "unsubscribe" to those annoying email. Because now thru Insider, you will receive offers and deals that are actually relevant to you </li>
        <li> 	Insider will suggest activities for you and your family </li>
        <li>	Busy with Life? You Bet!  With Insider, we have a "You deserve It" Offer  - That's Right - an offer tailored to take you away from life's day-to-day hassles </li>
      </ol>
    </div>
  </div>
  <div class="dashboard_details advantages hide">
    <div class="bold">Dashboard Advantages:</div>
    <div> View and Update your streamlined "Daily Dashboard", Check these features out: </div>
    <div>
      <ol start="1">
        <li>	Monitor Your Website Activities - Dashboard is a place where all of your activities are monitored and tracked for your convenience</li>
        <li> Influence Meter - WOW = What a concept ! - Influence is a powerful thing in todays' world - So, increase your influence by being active on our site and recommending others to our site</li>
        <li>	Kudos Points - Increase your Point total and stand out among fellow Snappers! </li>
        <li>	Friend Requests - Can't say enough about just how important friends are to all of us - So, let's build the Snapgadget community together!  </li>
      </ol>
    </div>
  </div>
</div>

<%= render :partial => 'my_account' %>
<%= render :partial => 'assistant_step_by_step' %>
<%= render :partial => 'insider_step_by_step' %>
<%= render :partial => 'sidekick_step_by_step' %>