<% if controller.action_name == 'new' %>
  <% (1..3).each do |index| %>
      <%= render :partial => 'category_img', :locals => {:category => nil, :slider => false, :index => index} %>
    <% end %>
  <div class="clear"></div>

<% else %>
  <%= render :partial => 'category_img', :locals => {:category => @offer_category_1, :slider => @offer_category_1.present?, :index => 1} %>
  <%= render :partial => 'category_img', :locals => {:category => @offer_category_2, :slider => @offer_category_2.present?, :index => 2} %>
  <%= render :partial => 'category_img', :locals => {:category => @offer_category_3, :slider => @offer_category_3.present?, :index => 3} %>
<% end %>
<div class="clear"></div>


