<div class="container-fluid">
  <div class="row-fluid">
    <div class="edit_profile_title"><%= t(:edit_preference) %></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <%= render :partial => 'form' %>
    </div><div class="span3"></div>
  </div>
</div>