<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="signup_step1_text">
        Step 3 of 3 - Create Your Preferences
      </div>
    </div>
    <div class="span6"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <%= render :partial => 'form'%>
    </div><div class="span3"></div>
  </div>
</div>
