.ui-widget {
  font-size: 1.1em;
}
.ui-widget-content {
  border: 1px solid #DDDDDD;
  color: #333333;

}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #E78F08;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #ed1110;
}
.ui-widget-header a {
  color: #FFFFFF;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: url(../assets/drag_handler_active.png)  scroll 50% 50% #F6F6F6;
  background-repeat: no-repeat;
  border: 1px solid #CCCCCC;

}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: url(../assets/drag_handler_active.png)  scroll 50% 50% #FDF5CE;
  background-repeat: no-repeat;
  border: 1px solid #black;;
  color: #C77405;
  font-weight: bold;
}


.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #FFFFFF;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  font-weight: normal;
  opacity: 0.7;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  background-image: none;
  opacity: 0.35;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  cursor: default;
  height: 1.2em;
  position: absolute;
  width: 1.2em;
  z-index: 2;
}
.ui-slider .ui-slider-range {
  background-position: 0 0;
  border: 0 none;
  display: block;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
}
.ui-slider-horizontal {
  height: 0.8em;
}
.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.6em;
  top: -0.3em;
}
.ui-slider-horizontal .ui-slider-range {
  height: 100%;
  top: 0;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}