<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="row-fluid">
        <a data-animation="true" data-original-title="SnapGadet - Social On Your Side" href="<%= launch_url %>" rel="tooltip" data-placement="right" class="brand">
          <img class="img" alt="SnapGadget.com" src="/assets/logo/snapgadget_logo_live.png" />
        </a>
        <div class="icon_txt clear-fix" style="float: left; margin-left: 14px; margin-top: 16px; width: 25%;">
          <h2 style="font-size: 23px;">Beta Test Squad Full.</h2>
          <h2 style="font-size: 23px;">Currently Accepting Invites.</h2>
        </div>
        
      </div>
    </div>
  </div>
</div>