<!Doctype html>
<html>
<head>
  <title>Assistant_1 home page </title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" type="text/css" href="css/snapgadget.css">
  <link rel="stylesheet" type="text/css" href="css/snapgadget_responsive.css"/>
  <link href='http://fonts.googleapis.com/css?family=Crushed' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner navbar-inner" style="border-bottom:solid 4px red;">
    <div class="container">
      <div class="pull-right">
        <ul class="nav pull-right">
          <!--   <li class="divider-vertical"></li>
        <li><a href="#">DashBoard</a></li> -->
          <li class="divider-vertical"></li>
          <li class="dropdown" style="margin-top: 20px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alan M. <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="pull-right">
        <div class="pull-right" style="margin-top: 10px;">
          <button class="btn_navbar  bottom_div4" type="button" style="">SIDEKICK</button>
          <button class="btn_navbar  bottom_div4" type="button" style="">INSIDER</button>
          <button class="btn_navbar btn-primary4  bottom_div4" type="button" style="">ASSISTANT</button>
        </div>
      </div>
      <div class="brand img">
        <img src="assets/snapgadget_logo.png" alt="logo image" class="img">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid sidekick_drill_head insider_head insider_title">
  <div class="span9 insider_head_margin">
    Alan, Your assistant is tracking 2 goals
  </div>
  <div class="span3 pull-right new_goal_btn_padding">
    <button class="btn1 btn-info new_goal_btn" type="button" style="">
      <img alt="icon_new_goal image" src="assets/icon_new_goal.png">
      New Goal
    </button>
  </div>
</div>
<div class="container-fluid ">
  <div class="row-fluid ">
    <div class="ast_row effect2">
      <div class="span5">
        <div class="insider_offer_title"> Run a 5k in under 20 minutes</div>
        <div class=" assistant_progress_bg">
          <div class="span progress ast_progress progress-danger" style="width: 77%;">
            <a class="ast_progress_text">72 days left</a>

            <div class="bar" style="width: 60%;"><a>66 days Elapsed</a></div>
          </div>
        </div>
        <div class="span ast_frd_trak">14 friends tracking this
          <a>
            <img alt="share_btn image" src="assets/share_btn.png">
          </a>
        </div>
      </div>
      <div class="span2 goal_status">
        <div class="goal_status_title">Goal Status</div>
        <div class="row-fluid goal_status_bar">
          <div class="span6 progressbar ">
            <progress class="vert goal_status_progress " value="60" max="100">No progress bar</progress>
          </div>
          <div class="span2 goal_status_text">44%</div>
        </div>
      </div>
      <div class="span5">
        <div class="insider_offer_title"> Goal Feeds</div>
        <div class="btn-group ">
          <button class="btn goal_feeds_btn btn-primary">
            <a class="goal_feeds">Distance</a><br><a>2.00</a><br><a class="goal_feeds">mi</a>
          </button>
          <button class="btn goal_feeds_btn btn-primary">
            <a class="goal_feeds">Duration</a><br><a>0:12:57</a><br><a class="goal_feeds">h:m:s</a>
          </button>
          <button class="btn goal_feeds_btn btn-primary">
            <a class="goal_feeds">Avg. Pace</a><br><a>6.28</a><br><a class="goal_feeds">min/mi</a>
          </button>
          <button class="btn goal_feeds_btn btn-primary">
            <a class="goal_feeds">Avg. Speed</a><br><a>9.27</a><br><a class="goal_feeds">mph</a>
          </button>
          <button class="btn goal_feeds_btn btn-primary">
            <a class="goal_feeds">Burned</a><br><a>255</a><br><a class="goal_feeds">calories</a>
          </button>
          <button class="btn goal_feeds_btn btn-primary">
            <a class="goal_feeds">Climb</a><br><a>0</a><br><a class="goal_feeds">ft</a>
          </button>
          <button class="btn goal_feeds_btn btn-primary">
            <a class="goal_feeds">Avg. Heart Rate</a><br><a>151</a><br><a class="goal_feeds">bpm</a>
          </button>
        </div>
        <div class="goal_feed_plus">
          <img alt="plus_icon image" src="assets/plus_icon.png">
        </div>
      </div>
      <div class="span5 expert_advice">
        <div class="insider_offer_title">Expert Advice</div>
        <div class="expert_advice_text"> 5 ways to improve your 5k speed</div>
        <div class="goal_feed_plus">
          <img alt="plus_icon image" src="assets/plus_icon.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row-fluid ">
    <div class="ast_row effect2">
      <div class="span5">
        <div class="insider_offer_title"> Raise 5,000 for children in need</div>
        <div class=" assistant_progress_bg">
          <div class="span progress ast_progress progress-danger" style="width: 77%;">
            <a class="ast_progress_text">72 days left</a>

            <div class="bar" style="width: 60%;"><a>66 days Elapsed</a></div>
          </div>
        </div>
        <div class="span ast_frd_trak">170 friends tracking this
          <img alt="share_btn image" src="assets/share_btn.png" style="margin-top: 20px;">
        </div>
      </div>
      <div class="span2 goal_status">
        <div class="goal_status_title">Goal Status</div>
        <div class="row-fluid goal_status_bar">
          <div class="span6 progressbar ">
            <progress class="vert goal_status_progress " value="60" max="100">No progress bar</progress>
          </div>
          <div class="span2 goal_status_text">44%</div>
        </div>
      </div>
      <div class="span5">
        <div class="insider_offer_title"> Goal Feeds</div>
        <div class="span ">
          <div class="goal_price">$100.00</div>
          <div class="extention"></div>
          <div class="extention"></div>
          <div class="extention"></div>
        </div>
        <div class="goal_feed_plus">
          <img alt="plus_icon image" src="assets/plus_icon.png">
        </div>
      </div>
      <div class="span5 expert_advice">
        <div class="insider_offer_title">Expert Advice</div>
        <div class="expert_advice_text">How to get companies to sponsor you 100 ways to raise $100</div>
        <div class="goal_feed_plus">
          <img alt="plus_icon image" src="assets/plus_icon.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid insider_container_margin" style="text-align: center;">
  <div class="row-fluid ">
    <div class="insider_row_bottom ">
      <div class="span12 insider_offer_title insider_goal"> My friends goals</div>
      <div class="row-fluid ">
        <div class="span1 insider_arrow_btn">
          <img alt="left_arrow image" src="assets/left_arrow.png">
        </div>
        <div class="span10">
          <div class="span4">
            <div class="row-fluid ">
              <div class="span6 insider_bottom_img_div">
                <img alt="running_image image" src="assets/running_image.png">
              </div>
              <div class="span6 insider_bottom_border">
                <div class="insider_bottom_name"> John S.</div>
                <div class="insider_bottom_passion"> Running Marathon</div>
                <div>
                  <div class="insider_bottom_read">
                    <button class="btn btn-info">
                      Read
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="row-fluid ">
              <div class="span6 insider_bottom_img_div">
                <img alt="cycling image" src="assets/cycling.png">
              </div>
              <div class="span6 insider_bottom_border">
                <div class="insider_bottom_name"> Kelly O.</div>
                <div class="insider_bottom_passion"> Bike across USA</div>
                <div>
                  <div class="insider_bottom_read">
                    <button class="btn btn-info">
                      Read
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="row-fluid ">
              <div class="span6 insider_bottom_img_div">
                <img alt="rafting_image image" src="assets/rafting_image.png">
              </div>
              <div class="span6 insider_bottom_border">
                <div class="insider_bottom_name"> Mc Razer</div>
                <div class="insider_bottom_passion"> Ocean Row Boat USA</div>
                <div>
                  <div class="insider_bottom_read">
                    <button class="btn btn-info">
                      Read
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span1 insider_arrow_btn">
          <img alt="right_arrow image" src="assets/right_arrow.png">
        </div>
      </div>
    </div>
  </div>
</div>
<!--      <div class="" style="min-height: 560px;">
 <div class="freinds_track_box effect_left ">
     <div class="text"> Run a 5k in under 20 minutes</div>
     <div class="progress_bar_container">
         <div style="padding-top: 32px;">
         <div class="progress frd_progress progress-danger" >
             <div class="bar" style="width: 60%"></div>
         </div>
             </div>
     </div>
 </div>
      <div class="goal_status ">

     </div>
           <div class="goal_feed_box effect_right">

            </div>
      <div class="goal_feed_box ">

        </div>


</div> -->
<footer class="footer" style="color: white;">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p>&COPY; Copyright 2012 Snapgadget.com</p>
      </div>
      <div class="span6">
        <p class="pull-right hidden-phone hidden-tablet">
          <a href="#"> Privacy</a>&nbsp;|
          <a href="#"> Terms of Use</a>&nbsp;|
          <a href="#"> FAQ </a>&nbsp;|
          <a href="#"> About Us</a>
        </p>
        <p class="hidden-desktop visible-phone visible-tablet">
          <a href="#"> Privacy</a>&nbsp;|
          <a href="#"> Terms of Use</a>&nbsp;|
          <a href="#"> FAQ </a>&nbsp;|
          <a href="#"> About Us</a>
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>